{% extends "base.html" %} {% block content %}

<html lang="pt-br">
  <body>
    <div class="container mt-4 pt-5">
      <!-- Banner -->
      <header class="container-fluid p-0 pt-5">
        <div
          class="position-relative overflow-hidden"
          style="min-height: 50vh; max-height: 50vh"
        >
          <!-- Imagem banner -->
          <img
            src="../static/img/banner.jpg"
            alt="Banner"
            class="img-fluid w-100 h-100 object-fit-cover"
          />

          <!-- Texto banner -->
          <div
            class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
          >
            <div class="container text-center text-white">
              <div class="bg-dark bg-opacity-50 p-4 p-md-5 rounded">
                <h1 class="display-4 fw-bold pb-2">Espaço Digital</h1>
                <a href="#" class="btn btn-primary btn-lg">Navegar produtos</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Seções -->
      <section class="container py-5">
        <div class="row g-4">
          <!-- Fotografia -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/camera.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Fotografia
              </div>
            </a>
          </div>

          <!-- Áudio -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/audio.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Áudio
              </div>
            </a>
          </div>

          <!-- Informática -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/informática.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Informática
              </div>
            </a>
          </div>

          <!-- Smartphones -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/smartphone.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Smartphones
              </div>
            </a>
          </div>

          <!-- Smart Home -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/home.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Smart Home
              </div>
            </a>
          </div>

          <!-- Wearable -->
          <div class="col-md-4">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden"
            >
              <img
                src="../static/img/wearable.jpg"
                class="img-fluid w-100 h-100 object-fit-cover"
              />
              <div
                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4 bg-dark bg-opacity-50 px-3 py-2 rounded"
              >
                Wearable
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>

  {% endblock %}
</html>
