{% extends "base.html" %} {% block content %}

<html lang="pt-br">
  <body>
    <div class="container mt-5 pt-3">
      <section class="container mt-3 py-5">
        <div class="row g-4">
          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>

          <!-- Produto -->
          <div class="col-md-4 m-1 border" style="max-width: 200px">
            <a
              href="#"
              class="d-block position-relative rounded overflow-hidden link-underline link-underline-opacity-0"
            >
              <img
                src="../static/img/produto.png"
                class="img-fluid w-100 h-100 object-fit-cover mt-2"
              />
              <div class="mt-2 text-center">
                <h5 class="text-muted fw-bold">Produto</h5>
                <p class="text-muted mb-1">Descrição de produto.</p>
                <span class="text-muted fw-bold fs-5 text-primary"
                  >R$ 100,90</span
                >
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>

  {% endblock %}
</html>
